<div>
    <p>Please select the amount below to withdraw:</p>
    <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="desiredAmount">
    </div>
    <br>
    <div class="alert alert-success" *ngIf="withdrawSuccess" role="alert">
        Dispensed ${{desiredAmount}}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="withdrawError">
        Insuffcient Funds
    </div>
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-secondary" (click)="withdraw()"
            [disabled]="!desiredAmount">Withdraw</button>
        <a routerLink="/overview"><button style="margin-left: 20px;" type="button"
                class="btn btn-secondary">Back</button></a>
    </div><br>
</div>